.systems {
    margin: 1rem;
    padding: 1rem;

    .systems__table {
        text-align: center;
        align-items: center;
    }

    .systems__sb-two-lines {
        margin-top: 0.75rem;
        margin-bottom: 0.75rem;
    }

    .systems__btns {
        margin-right: 1rem;
    }

    // .systems-discover {
    //     font-size: medium;
    // }
}